<div class="media">
  <div class="media-left">
    <%= link_to(link.url) do %>
      <img class="media-object" src="http://lorempixel.com/64/64/">
    <% end %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to(link.title, link.url) %></h4>
    <%= "shared #{time_ago_in_words(link.created_at)} ago by #{link.user.username}" %>
    <%= link_to("#{pluralize(link.comments.count, 'comments')}", link)%>
  </div>
</div>
